flask
flask-sqlalchemy
flask-login
flask-bcrypt
flask-socketio
pandas
numpy
scikit-learn
torch
stable-baselines3
shimmy[gym-anytrading,atari]
gymnasium
matplotlib
plotly
pycryptodome
reportlab
scapy
shap
eventlet
